<div class="col-md-2"></div>

<div class="view-container col-md-8">
  <div class="app-title">
    <h2>My Quizzes</h2>
  </div>
  <div class="line-separator"></div>
  {{#each quizzes}}
  <div class="user-quiz" data-user-quiz={{id}}>  

      <div class="view-left-container col-md-6">
        <div class="col-md-12">
          <h3 class="quiz-title col-md-8">{{title}}</h3>
          <img class="japan-icon col-md-4" src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/japan_icon.png">
        </div>
        <div class="progress-amount" data-progress={{progress}} data-user-quiz={{id}}></div>     

        <div class="progress-container col-md-10">
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" aria-valuemax="50" style="width:0%">

            </div>
          </div>
        </div>
      </div>
      <div class="view-middle-container col-md-3">
        <img src="{{picture_url}}" class="quiz-picture">
      </div>
      <div class="view-right-container col-md-3">
        <button class="start-quiz" data-user-quiz={{id}}>  
        Start Quiz</button>

        <button class="quiz-overview" data-user-quiz={{id}}>Overview</button>
      </div>
    </div>
    <div class="line-separator"></div>
  {{/each}}

</div>

<div class="col-md-2"></div>