<div class="col-md-3"></div>

<div class="quiz-overview-container col-md-6">
  <div class="quiz-overview-title">
    <h2>Quiz Overview</h2>
  </div>
  <div class="line-separator"></div>
  
  <div class="quiz-overview-content col-md-12">
    <div class="col-md-2"></div>
    <div class="quiz-overview-questions col-md-3">
      {{#each questions}}
      <p>{{word}}</p>
      {{/each}}
    </div>
    <div class="quiz-overview-answers col-md-5">
      {{#each answers}}
      <p>{{sentence}}</p>
      {{/each}}
    </div>

    <div class="col-md-2"></div>
  </div>

  <div class="col-md-12">
    <button class="user-quizzes-button user-quizzes col-md-3">Back</button>
    <div class="col-md-9"></div>
  </div>
</div>

<div class="col-md-3"></div>
