<div class="col-md-3"></div>

<div class="results-container col-md-6">
  <div class="results-title">
    <h2>Session Results</h2>
  </div>
  <div class="line-separator"></div>


  {{#each questions}}
  <div class="results-progress col-md-3">
    <p class="results-word">{{word}}</p>
    <div class="times-correct-amount" data-times-correct="{{times_correct}}"></div>
    <div class="results-progress-container progress-container">
      <div class="progress progress-striped active">
        <div class="results-progress-bar progress-bar progress-bar-success" style="width:0%">

        </div>
      </div>
    </div>
  </div>


  {{/each}}
  <button class="list-quizzes results-next col-md-3">Next</button>
</div>
<div class="col-md-3"></div>





