<h2 class="results-title">Results</h2>

<div class="results-body">
  <div class="results-words">
    <h3>Words</h3>  
    {{#each questions}}
      <div>{{word}}</div>
    {{/each}}  
  </div>

  <div class="results-progress">
    <h3>Progress</h3>
    {{#each questions}}  
      <div>{{times_correct}}</div>
    {{/each}}   
  </div>

  <div class="results-meanings">
    <h3>Meanings</h3>
    {{#each answers}}
      <div>{{sentence}}</div>
    {{/each}} 
  </div>
  <button class="list-quizzes results-next">Next</button>
</div>


