<div class="col-md-2"></div>

<div class="review-container col-md-8">
  <p class="blank-padding"></p>

{{!--   <a href="/my_quizzes"><button class="back-quiz col-md-3">Back</button></a> --}}
  <div class="col-md-3"></div>
  <div class="review-content col-md-6">
    <span class="current-question">{{question.attributes.word}}</span>
    <div class="line-separator"></div>
    <span class="current-correct-answer">{{answer.attributes.sentence}}</span>
  </div>

  <button class="show-question-after-review col-md-3">Next</button>  


</div>

<div class="col-md-2"></div>  