<h2>Questions</h2>

<table>
  <tr>
    <th>Word</th>
    <th>Progress</th>
  </tr>
  {{#each questions}}
  <tr>
    <td>{{attributes.word}}</td>
    <td>{{attributes.times_correct}}</td>
  </tr> 
  {{/each}}
</table>

<button class="show-answers">Next</button>