<h2>Questions</h2>

<table>
  <tr>
    <th>Word</th>
    <th>Progress</th>
  </tr>

  <tr class="shell">
    <td>{{question.attributes.word}}</td>
    <td>{{question.attributes.times_correct}}</td>
  </tr> 

</table>

<button class="list-answers">Next</button>