<div class="col-md-2"></div>

<div class="question-container col-md-8">
  <p class="know-this">Do you know this?</p>

  <a href="/my_quizzes"><button class="back-quiz">x</button></a>

  <button class="review-word col-md-3">Review</button>
  
  <div class="question-content col-md-6">
    <span class="current-question">{{question.attributes.word}}</span>
    <div class="line-separator"></div>
    <span class="question-mark">?</span>
  </div>

  


  <button class="list-answers col-md-3" data-question={{question.attributes.id}} data-user-quiz={{question.attributes.user_quiz_id}}>Yes</button>  


</div>

<div class="col-md-2"></div>  


