<h2>Questions</h2>

<table>
  <tr>
    <th>Word</th>
    <th>Progress</th>
  </tr>

  <tr>
    <td>{{question.attributes.word}}</td>
    <td>{{question.attributes.times_correct}}</td>
  </tr> 

</table>

<button class="list-answers" data-question={{question.attributes.id}} data-user-quiz={{question.attributes.user_quiz_id}}>Next</button>