<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <% if user_signed_in? %>
            <a href="/my_quizzes"><h3 class="masthead-brand">Vocabulate.me <img class="vocabulate-logo" src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/speech-bubble.png"></h3></a>
          <% else %>
            <a href="/"><h3 class="masthead-brand">Vocabulate.me <img class="vocabulate-logo" src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/speech-bubble.png"></h3></a>
          <% end %>  
          <nav>
            <ul class="nav masthead-nav">
              <% if user_signed_in? %>
              <li><%= link_to current_user.email, edit_user_registration_path(@user) %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div id="app-container" class="inner cover">
      <h1 class="cover-heading">Smart, Dynamic and Personal</h1>
      <p class="lead">Remember better and faster with tailored vocabulary lessons</p>
      <p class="lead">
        <a href="/users/sign_in" class="lets-start">Lets Start!</a>
      </p>
    </div>

  </div>
</div>
<div>

<div class="mastfoot">
  <div class="personal-website">
    <p>Made by <a id="freddy-site-link" href="http://freddywong.website">Freddy Wong</a></p>
  </div>  
  <div class="social-media">
    <a href="https://www.linkedin.com/pub/frederick-wong/78/472/6a8"><img src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/linkedin.png"></a>
    <a href="https://github.com/freddywong"><img src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/github.png"></a>
    <a href="https://twitter.com/FreddykfWong"><img src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/twitter.png"></a>
  </div>  
</div>





