/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require pages
 *= require_tree .
 *= require_self
 */

/*
 * Globals
 */

body {
  font-family: 'Montserrat', sans-serif;

}

.cover-heading {
  font-size: 4em;
}

 button, input, optgroup, select, textarea {
  color: black;
}

.progress.active .progress-bar .results-progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.quiz-progress-container {
  padding-left: 30px;
  padding-top: 20px;
}

.quiz-progress {
  height: 50px;
}

.quiz-progress-bar {
  padding-top:15px;
}

body {
  background-color:#848484;

}

.my-quiz-container {
  background-color:#fff;
  border-radius: 10px;
  color: #333;
  
}

.results-container {
  background-color:#fff;
  border-radius: 10px;
  color: #333;
  overflow:hidden;
  
}

.question-container, .review-container, .answer-correct-container {
  background-color:#fff;
  border-radius: 10px;
  padding: 0px 40px;
  color: #333;
}

.answer-incorrect-container {
  background-color:#fff;
  border-radius: 10px;
  color: #333;
}

.answers-container {
  background-color:#fff;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 30px 0px;
  overflow:hidden;
  color: #333; 
}

.my-quiz-middle-container {
  text-align: left;
}

.app-title {
  text-align: left;
}

.results-title {
  text-align: left;
}

.line-separator{
  height:1px;
  background-color:#F1F1F1;
  border-bottom:1px solid #D8D8D8;
}

.user-quiz {
  margin: 10px 0px 30px 0px;
  overflow: hidden;
}

.quiz-picture {
  margin-top:20px;
  width: 75%;
  height: auto;
  border-radius: 15px;
}
.japan-icon {
  width: 25%;
  height: auto;
}
.quiz-title {

}

.start-quiz {
  margin-top: 20px;
  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 10px;
  color: #fff;
  margin-bottom: 20px; 
}
.start-quiz:hover {
  background-color: #ce7000;
}

.list-answers, .show-question-after-review {
  margin-top: 220px;
  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 0px;
  color: #fff; 
}
.list-answers:hover, .show-question-after-review:hover {
  background-color: #ce7000;
}

.show-question {
  margin-top: 300px;
  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 0px;
  color: #fff; 
}

.show-question:hover {
  background-color: #ce7000;
}

.answer {

  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 20px 10px;
  margin: 10px;
  margin-left: 45px;
  color: #fff; 
}
.answer:hover {
  background-color: #ce7000;
}

.quiz-overview {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 3px solid #FF8B00;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 10px; 
}
.quiz-overview:hover {
  color: #FF8B00;
}

.back-quiz {
  margin-top: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 3px solid #FF8B00;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 0px; 
}
.back-quiz:hover {
  color: #FF8B00;
}

.current-question {
  font-size: 4em;
}

.current-correct-question {
  color:#FF8B00;
  font-size: 4em;
}

.current-incorrect-question {
  color:#FF8B00;
  font-size: 4em;
}

.current-correct-answer {
  font-size: 3em;
}

.current-incorrect-answer {
  font-size: 3em;
}
.question-mark {
  font-size: 5em;
}

.know-this, .blank-padding {
  margin-top: 40px;
  margin-bottom: 80px;
  color: #848484;
}

.correct {
  margin-top: 40px;
  color: #848484;
}

.incorrect {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #848484;
}

.select-answer {
  margin-top: 40px;
  margin-bottom: 30px;
  color: #848484;
}
.question-content{
  padding-bottom: 100px;
  color: #FF8B00;
}

.review-content{
  padding-bottom: 140px;
    color: #FF8B00;
}

.answer-correct-content {
  padding-bottom: 120px;
  color: #FF8B00;
}

.answer-incorrect-content {
  padding-bottom: 120px;
  color: #FF8B00;
}

.correct-tick {
  margin-bottom:40px;
  width:80px;
  height: auto;
}

.incorrect-tick {
  margin-bottom:40px;
  width:80px;
  height: auto;
}

.extra-answer-sentence {
  font-size: 1.5em;
  color: #848484;
}

#show-question-v2 {
  margin-top: 420px;
  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 10px;
  color: #fff; 
}

#show-question-v2:hover {
  background-color: #ce7000;
}

.results-word {
  margin-top: 10px;
  font-size: 1.5em;
}

.results-progress-container {
  margin-top:10px;
}

.results-progress-bar {
  height:20px;
  padding-bottom:20px;
}

.results-next {
  margin-left: 500px;
  margin-bottom: 30px;
  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 10px;
  color: #fff; 
}

.results-next:hover {
  background-color: #ce7000;
}

.mastfoot {
  padding-bottom:20px;
}

.personal-website {
  text-align:center;
  margin-top: 30px;
}

.social-media > a > img {
  width:40px;
  padding-left:5px;

}

#freddy-site-link {
  color:#FF8B00;
}

.masthead-brand {
  color:#FF8B00;
}

.vocabulate-logo {
  margin-top: -25px;
  width:30px;
  height: auto;
}

.lets-start {
  margin-top: 50px;
  background-color: #FF8B00;
  background-repeat:no-repeat;
  border: none;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 10px 15px;
  color: #fff;
  margin-bottom: 20px; 
}
.lets-start:hover {
  background-color: #ce7000;
}

.quiz-overview-container {
  background-color:#fff;
  border-radius: 10px;
  color: #333;
  overflow:hidden;
  
}

.quiz-overview-title {
  text-align: left;
}

.quiz-overview-questions {
  font-size: 1.5em;
  line-height: 120%;
}

.quiz-overview-answers {
  font-size: 1.5em;
  line-height: 120%;
}

.user-quizzes-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 3px solid #FF8B00;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
  padding: 5px 10px; 
}
.user-quizzes-button:hover {
  color: #FF8B00;
}

.quiz-overview-content {
  margin-top:20px;
}

.development-notice {
  padding: 20px 0px;
  background-color: rgba(0,0,0,0.5);  
}

.user-details-1 {

  width: 30%;
  margin: 0 auto;
  font-size: 1em;
}

.user-details-2 {
  padding-top:10px;
  width: 25%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.3em;
}

.review-word {
  margin-top: 217px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 3px solid #FF8B00;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.5em;
 
}
.review-word:hover {
  color: #FF8B00;
}
