// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.results-title {
  float:left;
}

.results-words {
  float: left;
}

.results-progress {
  float: left;
}

.results-meanings {
  float: left;
}

.results-body {


}

.results-next {
  clear:both;
}

