<h2>Answers</h2>

<table>
  <tr>
    <th>Word</th>
  </tr>
  <tr>
    <td>{{question.word}}</td>
  </tr> 
</table>

<h3>Incorrect! The meaning is {{answer.sentence}}</h3>

<button class="show-question">Next</button>