<div class="col-md-2"></div>

<div class="answer-incorrect-container col-md-8">
  <div class="col-md-3"></div>

  
  <div class="answer-incorrect-content col-md-6">
    <p class="incorrect">Incorrect!</p>
    <div><img class="incorrect-tick" src="https://s3-ap-southeast-2.amazonaws.com/vocabulate/cross.png"></div>
    <span class="current-incorrect-question">{{question.word}}</span>
    <div class="line-separator"></div>
    <span class="current-incorrect-answer">{{answer.sentence}}</span><span class="extra-answer-sentence"><br> is the correct answer</span>
  </div>
 
  <button class="show-question col-md-3" id="show-question-v2">Next</button>

</div>
  
<div class="col-md-2"></div>  