<div class="col-md-2"></div>

<div class="answers-container col-md-8">
    {{#each answers}}
      <button class="answer col-md-5" data-answer={{id}} data-question="">{{sentence}}</button>  
    {{/each}}
</div>
<div class="col-md-2"></div>  